* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.o1-tile {
  background-image: url("./img/o1.png");
}

.o2-tile {
  background-image: url("./img/o2.png");
}

.o3-tile {
  background-image: url("./img/o3.png");
}

.x1-tile {
  background-image: url("./img/x1.png");
}

.x2-tile {
  background-image: url("./img/x2.png");
}

.x3-tile {
  background-image: url("./img/x3.png");
}

.o1-tile,
.o2-tile,
.o3-tile,
.x1-tile,
.x2-tile,
.x3-tile {
  width: 100%;
}

.body {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: center no-repeat url("./img/800px-Compass-modified.png");
  background-size: 660px auto;
  background-position: 48.5% 54%;
}

.field {
  width: min-content;
  margin: 0 auto;
  display: grid;
  gap: 5px 5px;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(5, min-content);
}

.start-new-game {
  padding: 5px 10px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
}

.field-tile {
  width: 80px;
  height: 80px;
  /* small
    width: 50px;
    height: 50px;
     */
  background-color: rgba(0, 255, 0, 0.1);
  border: 3px solid rgb(140, 140, 200);
}

.field-tile:nth-child(-n + 5) {
  border-top: none;
}

.field-tile:nth-child(5n + 1) {
  border-left: none;
}

.field-tile:nth-child(5n) {
  border-right: none;
}

.field-tile:nth-child(n+20) {
  border-bottom: none;
}

.highlighted {
  background-color: lightgreen;
}

.confirm-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
}
.confirm-inner-container {
  background-color: rgba(0, 255, 0, 0.5);
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.confirm-text {
  display: block;
  white-space: nowrap;
  width: min-content;
}

.confirm-yes,
.confirm-no {
  width: min-content;
  height: min-content;
  padding: 5px;
  margin: 10px;
}

.occupied-tile-alert-container {
  position: absolute;
  display: flex;
  z-index: 3000;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.occupied-alert-tile {
}

.end-game-alert-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  background-color: rgba(0, 255, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-game-alert-text {
}

.make-move {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

.recording {
  background-color: red;
}

.recording .microphone {
  display: inline;
}

.hidden {
  display: none;
}
